body {
    background-color: rgb(4, 176, 107);
}

.tableBody {
    display: flex;
    margin-left: auto;
    width: 75%;
}

.gameTitle {
    text-align: center;
    font-family: OriginalSurfer-Regular;
    font-size: 150%;
    margin-top: -2%;
}

.tableRow {
    margin-left: 5px;
}



