body {
    text-align: center;
    color: white;
    background-color: rgba(1, 1, 1, .8);
    font-family: Macondo-Regular;
}

input {
    color: white;
    background-color: red;
    font-family: Macondo-Regular;
}

button {
    color: white;
    background-color: red;
    font-family: Macondo-Regular;
}

h1 {
    color: red;
}