body {
    background-image: url(./images/forest.jpg);
    background-size: 100%;
}

#hike {
    color: green;
}

.story {
    color: white;
    background-color: rgba(1, 1, 1, .5);
    width: 50%;
    margin: auto;
    margin-top: 25%;
    text-align: center;
}
